@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  color: primary;
  background-color: primary;
}

.content {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.jumbotron {
  width: 98%;
  background-color: white;
}

.welcome {
  color: purple;
  font-size: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-title {
  font-size: 18px;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

mat-icon {
  vertical-align: middle;
}

.bg-color {
  background-color: rgb(230, 230, 230);
}

.session-container {
  width: 98%;
  margin-bottom: 2rem;
}

.invitation-container {
  width: 98%;
  margin-bottom: 2rem;
}

mat-card {
  box-shadow: none !important;
}

mat-card-title {
  margin-bottom: 0 !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
