<div class="content">
  <div class="jumbotron">
    <h1 class="display-4 welcome">Welcome to REMOS Online V2!</h1>
    <hr class="my-4">
    <p>REMOS Online V2 is a web application to manage student academic presentation. It helps the
      lecturers
      the arrange the schedule of the presentation, booking venue for the presentation as well as sending invitation to
      other lecturers
      to become the panel of the presenation.
    </p>
  </div>

  <div class="session-container bg-color">
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title class="card-title">
          <mat-icon>notification_important</mat-icon>&nbsp;
          Upcoming Session
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel expanded hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                24 May 2021 - How to Train Your Dragon
              </mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>event</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Presentation details:</p>
            <ul>
              <li>Date: 24 May 2021</li>
              <li>Time: 09.00 AM</li>
              <li>Venue: Bilik Kuliah 2</li>
              <li>Project Title: How to Train Your Dragon</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                08 June 2021 - Angular Web Development is Hard!
              </mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>event</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Presentation details:</p>
            <ul>
              <li>Date: 08 June 2021</li>
              <li>Time: 11.30 AM</li>
              <li>Venue: Bilik Tutorial 4</li>
              <li>Project Title: Angular Web Development is Hard!</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                08 June 2021 - How To Double Jump Raze on Ascent
              </mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>event</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Presentation details:</p>
            <ul>
              <li>Date: 08 June 2021</li>
              <li>Time: 12.00 PM</li>
              <li>Venue: Bilik Tutorial 1</li>
              <li>Project Title: How To Double Jump Raze on Ascent</li>
            </ul>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="invitation-container bg-color">
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title class="card-title">
          <mat-icon>add_box</mat-icon>&nbsp;
          Received Invitation
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel expanded hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Panel Role Invitation by Dr Mustapa Kamal
              </mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>event</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Presentation details:</p>
            <ul>
              <li>Date: 12 June 2021</li>
              <li>Time: 02.30 PM</li>
              <li>Venue: Bilik Kuliah 2</li>
              <li>Project Title: How To Score a Goal Like a Professional Footballer</li>
            </ul>
            <mat-action-row>
              <button mat-button color="warn">Reject</button>
              <button mat-button color="primary">Accept</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Panel Role Invitation by Dr Siti Nurhaliza Tajuddin
              </mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>event</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Presentation details:</p>
            <ul>
              <li>Date: 09 June 2021</li>
              <li>Time: 12.30 AM</li>
              <li>Venue: Bilik Tutorial 3</li>
              <li>Project Title: How To Secure A Job?</li>
            </ul>
            <mat-action-row>
              <button mat-button color="warn">Reject</button>
              <button mat-button color="primary">Accept</button>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>


</div>
