<mat-drawer-container class="example-container" *ngIf="isLoggedIn">
  <mat-drawer class="nav-container" mode="side" opened>
    <div class="d-flex h-100 flex-column justify-content-between">
      <div class="d-flex flex-column mb-3">
        <div class="d-flex pt-2 mt-2">
          <div class="ml-2 p-2 flex-grow-1">
            <a routerLink="home" routerLinkActive="activeLink" class="d-flex">
              <div class="align-middle text-center my-auto mr-3">
                <mat-icon class="my-auto">home</mat-icon>
              </div>
              <div class="flex-grow-1 align-self-center">Home</div>
            </a>
          </div>
        </div>
        <div class="d-flex pt-2">
          <div class="ml-2 p-2 flex-grow-1">
            <a routerLink="send-invite" routerLinkActive="activeLink" class="d-flex">
              <div class="align-middle text-center my-auto mr-3">
                <mat-icon class="my-auto">send</mat-icon>
              </div>
              <div class="flex-grow-1 align-self-center">Invitation</div>
            </a>
          </div>
        </div>
        <div class="d-flex pt-2">
          <div class="ml-2 p-2 flex-grow-1">
            <a href="#" routerLinkActive="activeLink" class="d-flex">
              <div class="align-middle text-center my-auto mr-3">
                <mat-icon class="my-auto">rate_review</mat-icon>
              </div>
              <div class="flex-grow-1 align-self-center">Evaluation</div>
            </a>
          </div>
        </div>
        <div class="d-flex pt-2">
          <div class="ml-2 p-2 flex-grow-1">
            <a href="#" routerLinkActive="activeLink" class="d-flex">
              <div class="align-middle text-center my-auto mr-3">
                <mat-icon class="my-auto">edit</mat-icon>
              </div>
              <div class="flex-grow-1 align-self-center">Form Customization</div>
            </a>
          </div>
        </div>
        <div class="d-flex pt-2">
          <div class="ml-2 p-2 flex-grow-1">
            <a routerLink="sidenav" routerLinkActive="activeLink" class="d-flex">
              <div class="align-middle text-center my-auto mr-3">
                <mat-icon class="my-auto">library_add</mat-icon>
              </div>
              <div class="flex-grow-1 align-self-center">Sidenav</div>
            </a>
          </div>
        </div>
      </div>
      <div class="p-2 logout d-flex mb-2 align-self-center">
        <div class="w-100 d-flex justify-content-center align-self-end">
          <div class="text-white" (click)="onLogout()">Logout</div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content-container">
    <!-- <app-header></app-header> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-login *ngIf="!isLoggedIn"></app-login>
